.product-list {
  font-family: 'Open Sans', sans-serif;
  .product {
    min-height: 250px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: relative;
    border: 1px solid #fff;
    &:hover {
      border: 1px solid #999;
      border-bottom: none;
      .product-actions {
        opacity: 1;
      }
    }
    .product-image {
      margin: 0 auto;
    }
    .product-title {
      color: #313135;
      font-size: 14px;
    }
    .product-price {
      font-size: 16px;
      color: #313135;
      position: relative;
      strong {
        font-size: 24px;
        font-weight: 700;
      }
      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 2px;
        background: #dfbd00;
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
        top: 5px;
      }
    }
    .product-installments {
      color: #999999;
      font-size: 14px;
      line-height: 2px;
    }
  }
  .product-actions {
    opacity: 0;
    width: 100%;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 1;
    bottom: -83px;
    left: -1px;
    border: 1px solid #999999;
    border-top: none;
    box-sizing: content-box;
    .label {
      margin-bottom: 10px;
    }
    .product-size {
      width: 180px;
      height: 25px;
    }
    .product-buy {
      font-family: 'Open Sans', sans-serif;
      width: 180px;
      height: 27px;
      font-weight: 600;
      background: #000;
      color: #fff;
    }
  }
}